<div class="text-center">
 <div calss="row">
 <br><br><br>
 
 <p>ようこそmesiteroへ</p>
 <p>ここでは、自分で考えたレシピやアレンジを公開し様々なユーザーと交流するサイトです。</p>
 <p>もちろん公開されているレシピを見るだけでも可能です。</p>
 
  <%= link_to "レシピ一覧", resipis_path %>
  <br><br><br>
 </div>
</div>